*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pok-card{
  border: solid 2px black;
  border-radius: 20px;
  text-align: center;
  width: 50%;
  max-width: 30rem;
  margin: auto;
  .carte{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    img {
      width: 70%;
    }
  }
}
.water{
  background-color: lightblue;
}
.electric{
  background-color: lightyellow;
}
.fire{
  background-color: lightcoral;
}
.psy{
  background-color:blueviolet;
}
.plant{
  background-color: lightgreen;
}
.choose-pok{
  display: flex;
  .choose{
    border: solid black 1px;
    border-radius: 20px;
    background-color:rgb(104, 103, 103);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: rgb(225, 225, 225);
      cursor: pointer;
      transition: border-color 0.25s;
    }
    button:hover {
      border-color: #646cff;
    }
    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}


