*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pok-card{
  border: solid 2px black;
  border-radius: 20px;
  text-align: center;
  width: 50%;
  max-width: 30rem;
  margin: auto;
  .carte{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    img {
      width: 17rem;
      height: 22rem;
    }
  }
}
.water{
  background-color: lightblue;
}
.electric{
  background-color: rgb(255, 255, 157);
}
.fire{
  background-color: lightcoral;
}
.psy{
  background-color:rgb(187, 135, 235);
}
.plant{
  background-color: lightgreen;
}
.choose-pok{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  .choose{
    
    border-radius: 20px;
    background-color:rgb(248, 248, 248);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    transition: border-color 0.25s;
    }
    .choose:hover {
      border-color: #646cff;
      cursor: pointer;
    }
    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }



